@font-face {
    font-family: 'Noto Sans KR' sans-serif;
    src: url('fonts/notosanskr-black-webfont.woff2') format('woff2'),
         url('fonts/notosanskr-black-webfont.woff') format('woff'),
         url('fonts/NotoSansKR-Black.otf') format('embedded-opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR' sans-serif;
    src: url('fonts/notosanskr-bold-webfont.woff2') format('woff2'),
         url('fonts/notosanskr-bold-webfont.woff') format('woff'),
         url('fonts/NotoSansKR-Bold.otf') format('embedded-opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR' sans-serif;
    src: url('fonts/notosanskr-light-webfont.woff2') format('woff2'),
         url('fonts/notosanskr-light-webfont.woff') format('woff'),
         url('fonts/NotoSansKR-Light.otf') format('embedded-opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR' sans-serif;
    src: url('fonts/notosanskr-medium-webfont.woff2') format('woff2'),
         url('fonts/notosanskr-medium-webfont.woff') format('woff'),
         url('fonts/NotoSansKR-Medium.otf') format('embedded-opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR' sans-serif;
    src: url('fonts/notosanskr-regular-webfont.woff2') format('woff2'),
         url('fonts/notosanskr-regular-webfont.woff') format('woff'),
         url('fonts/NotoSansKR-Regular.otf') format('embedded-opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR' sans-serif;
    src: url('fonts/notosanskr-thin-webfont.woff2') format('woff2'),
         url('fonts/notosanskr-thin-webfont.woff') format('woff'),
         url('fonts/NotoSansKR-Thin.otf') format('embedded-opentype');
    font-weight: 100;
    font-style: normal;
}