body {
    overflow-x: hidden;
}

a:hover {
    color: #4e5c77;
}

a svg:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.14), 0 2px 4px rgba(0, 0, 0, 0.28);
}

#labList-div {
    text-align: center;
    padding-top: 120px
}

.FAB {
    display: inline-flex;
    margin-left: 6px;
    font-size: 16px;
}

.FAB a {
    color: #3c3c3c;
}

.FAB a:hover {
    color: #0083c7;

}

.interview {
    display: inline-flex;
    padding: 0;
    font-size: 16px;
    
}

.interview a {
    color: #0083c7;
    font-weight: 700;
}

.interview a:hover {
    color: #0083c7;

}

#intro-copy {
    margin: 40px 0; 
    font-size: 1.3em; 
    text-align: center;
}

#intro-copy span {
    color: #0083c7;
    font-weight: 700;
}

.bi-tag {
    margin-right: 3px;
}


.txt_h2 {
    display: inline;
    font-size: 120%;
    font-weight: 400;
    color: #3c3c3c;
    line-height: 120%;
}

.txt_h3 {
    display: inline-flex;
    font-size: 100%;
    font-weight: 700;
    color: #0083c7;
    line-height: 200%;
}

.txt_h7 {
    display: inline;
    font-size: 130%;
    font-weight: 400;
    color: #444444;
}

#detail_Email {
    display: inline;
    font-size: 100%;
    font-weight: 400;
    color: #707070;

}

.txt_h1 {
    display: inline;
    font-size: 140%;
    font-weight: 700;
    color: #3c3c3c;
    line-height: 150%;
}

.txt_h2 {
    display: inline;
    font-size: 120%;
    font-weight: 400;
    color: #3c3c3c;
    line-height: 120%;
}

.txt_h3 {
    display: inline-flex;
    font-size: 100%;
    font-weight: 700;
    color: #0083c7;
    line-height: 200%;
}


.txt_h4 {
    display: inline;
    font-size: 100%;
    font-weight: 400;
    color: #3c3c3c;
    line-height: 150%;
    display: table-cell;
}

.txt_h5 {
    display: table-cell;
    font-size: 110%;
    font-weight: 700;
    color: #3c3c3c;
    line-height: 200%;
}

.txt_h8 {
    display: inline;
    font-size: 14px;
    color: #666666;
    display: table-cell;
    font-weight: 300;
    line-height: 21px;
}

.txt_h6 {
    display: inline;
    font-size: 90%;
    font-weight: 300;
    color: #959595;
    display: table-cell;
}


hr {
    background-color: #dbdbdb;
}

.sq {
    background: #0083c7;
    width: 5px;
    height: 30px;
    display: table-cell;
    position: relative;

}

.sq-n {
    width: 12px;
    height: 1px;
    display: table-cell;
    position: relative;
}

.sq-nm {
    width: 10px;
    height: 1px;
    display: table-cell;
    position: relative;
}

#popBtn1 {
    background-color: #0083c7;
    color: white;
    font-weight: 700;
    border: none;
}

#logo a:hover {
    color: #0083c7;
}


.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem
}

.card>hr {
    margin-right: 0;
    margin-left: 0
}

.card>.list-group {
    border-top: inherit;
    border-bottom: inherit
}

.card>.list-group:first-child {
    border-top-width: 0;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px)
}

.card>.list-group:last-child {
    border-bottom-width: 0;
    border-bottom-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px)
}

.card>.card-header+.list-group,
.card>.list-group+.card-footer {
    border-top: 0
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem
}



.card-subtitle {
    margin-top: -.375rem;
    margin-bottom: 0
}

.card-text:last-child {
    margin-bottom: 0
}

.card-link:hover {
    text-decoration: none
}

.card-link+.card-link {
    margin-left: 1.25rem
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125)
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0, 0, 0, .03);
    border-top: 1px solid rgba(0, 0, 0, .125)
}

.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px)
}

.card-header-tabs {
    margin-right: -.625rem;
    margin-bottom: -.75rem;
    margin-left: -.625rem;
    border-bottom: 0
}

.card-header-pills {
    margin-right: -.625rem;
    margin-left: -.625rem
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    border-radius: calc(.25rem - 1px)
}

.card-img,
.card-img-bottom,
.card-img-top {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%
}

.card-img,
.card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px)
}

.card-img,
.card-img-bottom {
    border-bottom-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px)
}

.card-deck .card {
    margin-bottom: 15px
}

@media (min-width:576px) {
    .card-deck {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-right: -15px;
        margin-left: -15px
    }

    .card-deck .card {
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        margin-right: 15px;
        margin-bottom: 0;
        margin-left: 15px
    }
}

.card-group>.card {
    margin-bottom: 15px
}

@media (min-width:576px) {
    .card-group {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap
    }

    .card-group>.card {
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        margin-bottom: 0
    }

    .card-group>.card+.card {
        margin-left: 0;
        border-left: 0
    }

    .card-group>.card:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0
    }

    .card-group>.card:not(:last-child) .card-header,
    .card-group>.card:not(:last-child) .card-img-top {
        border-top-right-radius: 0
    }

    .card-group>.card:not(:last-child) .card-footer,
    .card-group>.card:not(:last-child) .card-img-bottom {
        border-bottom-right-radius: 0
    }

    .card-group>.card:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0
    }

    .card-group>.card:not(:first-child) .card-header,
    .card-group>.card:not(:first-child) .card-img-top {
        border-top-left-radius: 0
    }

    .card-group>.card:not(:first-child) .card-footer,
    .card-group>.card:not(:first-child) .card-img-bottom {
        border-bottom-left-radius: 0
    }
}

.card-columns .card {
    margin-bottom: .75rem
}

@media (min-width:576px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1
    }

    .card-columns .card {
        display: inline-block;
        width: 100%
    }
}


.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.card-text-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;

}

.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.card-title:hover {
    text-decoration: underline
}

.centerContents {
    width: 100%;

}

.aline-center {
    width: 50%;
    display: inline-block;
    left: 50%;
    transform: translateX(50%);
}

.itv-img-div {
    width: 140px;
    height: 140px;
    overflow: hidden;
    margin-bottom: 30px;
}

.interview-img {
    height: 100%;
    object-fit: cover;
}

.td1 {
    padding-right: 20px;
    padding-top: 7px;
}

#logo {
    width: auto;
}

#header {
    height: 68px;
}

.centerContents {
    padding-top: 80px;
    background-color: #fff;
    margin: 0;
}


@media only screen and (max-width: 1300px) {
    .aline-center {
        width: 94%;
        display: inline-block;
        left: 3%;
        transform: translateX(3%);
    }

}

@media only screen and (max-width: 770px) {

    #intro-copy {
        margin: 40px 10px; 
        font-size: 1.2em; 
        text-align: center;
        word-break: keep-all;
    }

    .card-title {
        font-size: 1.2em;
    }

    .aline-center {
        width: 96%;
        display: inline-block;
        padding: 0;
        margin: 0;

    }

    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        min-height: 1px;
        padding: 10px;

    }

    .itv-img-div {
        width: 100px;
        height: 100px;
        overflow: hidden;
    }

    .interview-img {
        height: 100%;
        object-fit: cover;
    }

    #logo {
        width: 100%;
    }

    .FAB {
        margin: 0;
        padding-left: 0;
    }

    #header {
        height: 96px;
    }

    .centerContents {
        padding-top: 110px;
        background-color: #fff;
    }

}